/*
* ==========================================================================
* Colors
* ==========================================================================
*/

$color-background: #fff;
$color-font: #383838;
$color-link: #4fc0c8;
$color-link-active: #388695;
$color-blockquote-border: #f2f2f2;
$color-pre-background: #f2f2f2;
$color-code-background: #f2f2f2;
$color-mark-background: #fadf51;
