// ==========================================================================
// Colors
// ==========================================================================


$color-background: $gray-light;
$color-font: $gray-dark;
$color-link: $blue-dark;
$color-button: $blue;
$color-button-text: $gray-light;

// $color-success: $blue;
// $color-error: $yellow;
// $color-warning: $yellow;
