// ==========================================================================
// Palette
//
// Including in this file is Chassis' default palette, but feel free
// to replace it with your own!
// ==========================================================================

$gray-dark: #383838;
$gray: #c1c1c1;
$gray-light: #f2f2f2;
$blue-dark: #388695;
$blue: #4fc0c8;
$yellow: #fadf51;
