// Mixins

// General
@mixin ui-stripes() {
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
}

@keyframes ui-stripes-animate {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 50px 0px;
	}
}
