// ==========================================================================
// Meter
// ==========================================================================
meter {
	-webkit-appearance: none;
	width: 550px;
	height: 25px;
}

.meter::-webkit-meter-bar, .multiColor::-webkit-meter-bar, .stripMeter::-webkit-meter-bar {
	box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.35);
	background: #f1f1f1;
}

.meter::-webkit-meter-optimum-value {
	background: #37bfc9;
}


.multiColor::-webkit-meter-optimum-value {
	background-image: linear-gradient(
		90deg, 
		#3ee3ef 10%, 
		#3ad5e0 10%,
		#3ad5e0 20%,
		#34cdd8 20%,
		#34cdd8 30%,
		#36c6d1 30%,
		#36c6d1 40%,
		#30bfc9 40%,
		#30bfc9 50%,
		#2ebac1 50%, 
		#2ebac1 60%,
		#2fb8bf 60%,
		#2fb8bf 70%,
		#2eb3ba 70%,
		#2eb3ba 80%,
		#30abb2 80%,
		#30abb2 90%,
		#2ea7ad 90%,    
		#2ea7ad 100%
	);

	background-size: 100% 100%;
}

.stripMeter::-webkit-meter-optimum-value{
	background-image: linear-gradient(
		135deg,
		transparent,
		transparent 33%,
		#37bfc9 33%,
		#37bfc9 66%,
		transparent 66%
	);
	background-size: 50px 25px;
}

