/*
* ========================================================================== 
* meter variables																	  	
* ==========================================================================
*/
$chassis-blue: #37bfc9;
$meterbar-background-color: #f1f1f1;


/* 
* For multi color Meter bar
* Scales $color's saturation value by $amount. $amount can be negative.
* scale-saturation($color, $amount)
*/

/* This is the staring color, whose the saturation increse with percentage. */
$color: #3ee3ef; 

/* The starting percentage, which increse the saturation of the color. */ 
$percentage: 0;
