/*
* ==========================================================================
* Buttons
* ==========================================================================
*/

@import
	"dist/chassis",
	"mixins";

.btn {
	border: 1px solid transparent;
	cursor: pointer;
	font-family: $ui-btn-font;
	@include btn-colors($ui-btn-default);
	@include btn-size($ui-btn-md);
}

/* Button Colors */

.btn-primary {
	@include btn-colors($ui-btn-primary);
}

.btn-success {
	@include btn-colors($ui-btn-success);
}

.btn-info {
	@include btn-colors($ui-btn-info);
}

.btn-warning {
	@include btn-colors($ui-btn-warning);
}

.btn-danger {
	@include btn-colors($ui-btn-danger );
}

/* Button Sizes */

.btn-lg {
	@include btn-size($ui-btn-lg);
}

.btn-sm {
	@include btn-size($ui-btn-sm);
}

.btn-xs {
	@include btn-size($ui-btn-xs);
}
