/*
* ==========================================================================
* Buttons
* ==========================================================================
*/

@import
	"dist/chassis",
	"mixins";

.btn-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&--btn {
		float: left;
		@include btn(0);
	}

	&--btn:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&--btn:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&--btn:not(:first-child):not(:last-child) {
		border-radius: 0;
	}
}

.btn-block {
	display: block;
	width: 100%;
}

.btn {
	@include btn(map-get($btn-element, margin));
}

/* Button Colors */

.btn-default {
	@include btn-colors($btn-default);
}

.btn-primary {
	@include btn-colors($btn-primary);
}

.btn-success {
	@include btn-colors($btn-success);
}

.btn-info {
	@include btn-colors($btn-info);
}

.btn-warning {
	@include btn-colors($btn-warning);
}

.btn-danger {
	@include btn-colors($btn-danger );
}

/* Button Sizes */

.btn-lg {
	@include btn-size($btn-lg);
}

.btn-md {
	@include btn-size($btn-md);
}

.btn-sm {
	@include btn-size($btn-sm);
}

.btn-xs {
	@include btn-size($btn-xs);
}
