/*
* ==========================================================================
* Buttons
* ==========================================================================
*/

@import
	"dist/chassis",
	"mixins";

.btn {
	border: 1px solid transparent;
	cursor: pointer;
	letter-spacing: map-get($ui-btn, letter-spacing);
	font-family: $ui-btn-font;
	font-weight: map-get($ui-btn, font-weight);
	margin: map-get($ui-btn, margin);
	text-decoration: none;
	text-transform: map-get($ui-btn, text-transform);
	@include btn-colors($ui-btn-default);
	@include btn-size($ui-btn-md);
}

.btn-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	.btn {
		float: left;
		margin: 0;
	}

	.btn:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.btn:not(:first-child):not(:last-child) {
		border-radius: 0;
	}
}


.btn-block {
	display: block;
	width: 100%;
}

/* Button Colors */

.btn-primary {
	@include btn-colors($ui-btn-primary);
}

.btn-success {
	@include btn-colors($ui-btn-success);
}

.btn-info {
	@include btn-colors($ui-btn-info);
}

.btn-warning {
	@include btn-colors($ui-btn-warning);
}

.btn-danger {
	@include btn-colors($ui-btn-danger );
}

/* Button Sizes */

.btn-lg {
	@include btn-size($ui-btn-lg);
}

.btn-sm {
	@include btn-size($ui-btn-sm);
}

.btn-xs {
	@include btn-size($ui-btn-xs);
}
