/*
* ==========================================================================
* Buttons (Extends)
* ==========================================================================
*/

/* These colors won't remain here, will be removed with jsass */
$background: #fff;
$chassis-blue: #4fc0c8;
$chassis-gray-light: #f2f2f2;
$chassis-gray-dark: #383838;

%ui-button {
	border: 0;
	box-sizing: border-box;
	display: inline-block;
	font-weight: 500;
	margin: .25em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

%ui-button--large {
	font-size: 20px;
	line-height: 20px;
	padding: .75em;
}

%ui-button--default-size {
	font-size: 16px;
	line-height: 16px;
	padding: .5em;
}

%ui-button--small {
	font-size: 14px;
	line-height: 14px;
	padding: .2em .5em;
	height: 20px;
}

%ui-button--extra-small {
	font-size: 12px;
	line-height: 12px;
	padding: .2em .5em;
}

%ui-button--default {
	background: $background;
	color: $chassis-gray-dark;
}

%ui-button--default--active {
	&:active,
	&:active:focus {
		background: darken($background, 20%);
	}
}

%ui-button--default--focus {
	&:focus {
		background: darken($background, 15%);
	}
}

%ui-button--default--hover {
	&:hover {
		background: darken($background, 10%);
	}
}

%ui-button--default--disabled {
	&:disabled {
		opacity: .6;
		background: $background;
	}
}


%ui-button--primary {
	background: $chassis-blue;
	color: $chassis-gray-light;
}

%ui-button--primary--active {
	&:active,
	&:active:focus {
		background: darken($chassis-blue, 20%);
	}
}

%ui-button--primary--focus {
	&:focus {
		background: darken($chassis-blue, 15%);
	}
}

%ui-button--primary--hover {
	&:hover {
		background: darken($chassis-blue, 10%);
	}
}

%ui-button--primary--disabled {
	&:disabled {
		background: $chassis-blue;
		opacity: .6;
	}
}

%ui-button--disabled {
	opacity: .6;
	cursor: default;
}
