/*
* ==========================================================================
* Buttons (Mixins)
* ==========================================================================
*/

@mixin ui-button($color, $bgcolor) {
	background: $bgcolor;
	border: 0;
	color: $color;
	display: inline-block;
	font-weight: $ui-button-font-weight;
	margin: $ui-button-margin;
	text-align: center;
	text-decoration: none;
	text-transform: $ui-button-text-transform;
	touch-action: manipulation;
	vertical-align: middle;
}

@mixin ui-button-sizes($size) {
	font-size: map-get( $size, font-size);
	line-height: map-get( $size, line-height);
	padding: map-get( $size, padding);
}

@mixin ui-button-states($color, $bgcolor) {
	&:active {
		@include ui-button-state-active($bgcolor);
	}
	&:focus {
		@include ui-button-state-focus($bgcolor);
	}
	&:hover {
		@include ui-button-state-active($bgcolor);
	}
	&:disabled {
		@include ui-button-state-disabled($bgcolor);
	}
	&[aria-disabled="true"] {
		@include ui-button-state-disabled($bgcolor);
	}
}

@mixin ui-button-state-active($bgcolor) {
	background: darken($bgcolor, 20%);
}

@mixin ui-button-state-focus($bgcolor) {
	background: darken($bgcolor, 15%);
}

@mixin ui-button-state-hover($bgcolor) {
	background: darken($bgcolor, 10%);
}

@mixin ui-button-state-disabled($bgcolor) {
	background: $bgcolor;
	cursor: default;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ui-button-disabled-opacity+")";
	filter: alpha(opacity=$ui-button-disabled-opacity);
	-moz-opacity: $ui-button-disabled-opacity;
	-khtml-opacity: $ui-button-disabled-opacity;
	opacity: $ui-button-disabled-opacity;
}
