/*
* ==========================================================================
* Buttons (Mixins)
* ==========================================================================
*/

@mixin ui-button() {
	border: 0;
	display: inline-block;
	font-weight: $ui-button-font-weight;
	margin: $ui-button-margin;
	text-align: center;
	text-decoration: none;
	text-transform: $ui-button-text-transform;
	vertical-align: middle;
}

@mixin ui-button-sizes($size) {
	font-size: map-get( $size, font-size);
	line-height: map-get( $size, line-height);
	padding: map-get( $size, padding);
}

@mixin ui-button-states($color, $bgcolor) {
	background: $bgcolor;
	color: $color;
	&:active {
		@include ui-button-state-active($color, $bgcolor);
	}
	&:focus {
		@include ui-button-state-focus($color, $bgcolor);
	}
	&:hover {
		@include ui-button-state-active($color, $bgcolor);
	}
	&:disabled {
		@include ui-button-state-disabled($color, $bgcolor);
	}
	&[aria-disabled="true"] {
		@include ui-button-state-disabled($color, $bgcolor);
	}
}

@mixin ui-button-state-default($color, $bgcolor) {
	background: $bgcolor;
	color: $color;
}

@mixin ui-button-state-active($color, $bgcolor) {
	background: darken($bgcolor, 20%);
	color: $color;
}

@mixin ui-button-state-focus($color, $bgcolor) {
	background: darken($bgcolor, 15%);
	color: $color;
}

@mixin ui-button-state-hover($color, $bgcolor) {
	background: darken($bgcolor, 10%);
	color: $color;
}

@mixin ui-button-state-disabled($color, $bgcolor) {
	background: $bgcolor;
	color: $color;
	cursor: default;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ui-button-disabled-opacity+")";
	filter: alpha(opacity=$ui-button-disabled-opacity);
	-moz-opacity: $ui-button-disabled-opacity;
	-khtml-opacity: $ui-button-disabled-opacity;
	opacity: $ui-button-disabled-opacity;
}
