.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	max-width: 900px;
	margin: 3em auto;
	padding: 0 1em;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.inputs-container {
	box-sizing: border-box
	width: 100%;
}

.inputs-row {
	width: 100%;
}

.inputs-label {
	width: 10%;
	float: left;
	padding: 0.25em 1em 0.25em 0;
	text-align: right;
}

.inputs-input {
	width: 85%;
	float: right;
}