// ==========================================================================
// Typography
// ==========================================================================

@import
	"dist/chassis",
	"functions",
	"mixins";

body {
	font: $normal #{ map-get( $defaultFont, font-size ) }/1.5 $sans;

	@media ( max-width: 800px ) {
		font-size: 16px;
	}
	@media ( max-width: 500px ) {
		font-size: 14px;
	}
}

h1 {
	font-size: em( 67px ); // 54px works nicely, as well
	font-weight: 700;
	line-height: 1;
}

h2 {
	font-size: em( 36px );
	font-weight: 600;
	line-height: 1;
}

h3 {
	font-size: em( 30px );
	font-weight: 600;
	line-height: 1;
}

h4 {
	font-size: em( 24px );
	font-weight: 600;
	line-height: 1;
}

h5 {
	font-size: em( 20px );
	font-weight: 600;
	line-height: 1;
}

h6 {
	font-size: em( 16px );
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

// ==========================================================================
// Block elements
// ==========================================================================

hr {
	border: 0;
	border-bottom: 1px solid #999;
}

blockquote {
	margin: 0;
	padding-left: 1em;
	position: relative;
	border-left: 4px solid #eee; // TODO replace with color variable
	font-style: italic;
}

pre {
	padding: 16px 20px;
	background: #f7f7f7;
	font: normal 12px/1.4 $monospace;
}

// ==========================================================================
// Lists
// ==========================================================================

dt {
	font-weight: 600;
}

dd {
	margin: 0;
}

// ==========================================================================
// Inline elements
// ==========================================================================

a {
	//TODO add colors

	&:hover,
	&:active,
	&:focus {
		//TODO add colors
	}
	&:visited {
		// TODO add colors
	}
}

p > a {
	// Good example of slim underline. We'll want to use this on body copy/quotes
	color: inherit;
	@include slim-underline;
}

b,
strong {
	font-weight: $bold;
}

code {
	background: #f2f2f2; // TODO replace with color variable
	font-size: em( 16px );
	padding: em( 4px, 16px ) em( 8px, 16px );
	border-radius: 3px;
}
