/*
* ==========================================================================
* Typography
* ==========================================================================
*/

@import
	"dist/chassis",
	"functions",
	"mixins";

body {
	font: $normal #{ map-get( $font-default, font-size ) }/1.5 $sans;

	@media ( max-width: $viewport-md-min ) {
		font-size: 16px;
	}
	@media ( max-width: $viewport-sm-min ) {
		font-size: 14px;
	}
}

h1 {
	@include heading($h1);
}

h2 {
	@include heading($h2);
}

h3 {
	@include heading($h3);
}

h4 {
	@include heading($h4);
}

h5 {
	@include heading($h5);
}

h6 {
	@include heading($h6);
}

p {
	text-align: map-get($p,text-alignment);
	margin: em(map-get($p,margin-top)) em(map-get($p,margin-right)) em(map-get($p,margin-bottom)) em(map-get($p,margin-left));
	line-height: 1.5;
	font-size: em(map-get($p, font-size));
}

ul, ol {
	margin: 0 0 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin: 0;
}

/*
* ==========================================================================
* Block elements
* ==========================================================================
*/

hr {
	border: 0;
	border-bottom: map-get($hr, thickness) map-get($hr, style) map-get($hr, color);
}

blockquote {
	margin: 0;
	padding-left: map-get($blockquote,padding-left); //TODO consider all padding variables
	position: relative;
	border-left: map-get($blockquote,border);
	font-style: map-get($blockquote,font-style);
}

pre {
	padding: 16px 20px;
	background: map-get($pre,background);
	font: normal 12px/1.4 $monospace;
}

/*
* ==========================================================================
* Lists
* ==========================================================================
*/

dt {
	font-weight: 600;
}

dd {
	margin: 0;
}

/*
* ==========================================================================
* Inline elements
* ==========================================================================
*/

a {
	@include link($link);
	&:visited {
		@include link($link-visited);
	}
	&:active,
	&:focus {
		@include link($link-focus);
	}
	&:hover {
		@include link($link-hover);
	}
}

b,
strong {
	font-weight: $bold;
}

code {
	background: map-get($code,background);
	font-size: em( 16px );
	padding: em( 4px, 16px ) em( 8px, 16px );
	border-radius: map-get($code,border-radius);
}
