/*
* ==========================================================================
* Typography variables
* ==========================================================================
*/

/*
* Change these values when using custom fonts
* For example, normal: 400;
*/
$normal: normal;
$bold: bold;
$root-font: (
	color: #222,
	font-size: 20px,
	line-height: 1.5
);

/* Typefaces */
$monospace: "courier new", monospace;
$serif: Georgia, "Times New Roman", Times, serif;
$sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
